.carousel{
  position: relative;
  height: 600px;
  width: 500px;
  overflow: hidden;
}
.carousel__prev-img{
  position: absolute;
  top: 0;
  left: -100%;
  transition: left 0.2s ease-in-out;
}
.carousel__active-img{
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.2s ease-in-out;
}
.carousel__next-img{
  position: absolute;
  top: 0;
  left: 100%;
  transition: left 0.2s ease-in-out;
}
